<div class="container-fluid">
  <div class="row">
    <!-- Left: Topic card -->
    <div class="col-12 col-lg-4">
      <div class="card ds2-card h-100">
        <div class="card-header fw-semibold">Topics</div>
        <div class="card-body p-0">
          <div class="list-group list-group-ds2">
            @for (entry of topics; track entry[0]) {
            <a
              class="list-group-item list-group-item-action"
              (click)="selectTopic(entry[0])"
              [class.active]="entry[0] === selectedTopic"
              >{{ entry[0] }}</a
            >
            }

            <a class="list-group-item list-group-item-action"> + Add Topic </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Right: edit form -->
    <div class="col-12 col-lg-8">
      <div class="card ds2-card">
        <div
          class="card-header d-flex justify-content-between align-items-center"
        >
          <span class="fw-semibold">{{selectedTopic}}</span>
          @if (!edible){
          <button class="btn btn-ds2" (click)="edible = !edible">Edit</button>
          } @else {
          <button class="btn btn-ds2 btn-outline-ds2" (click)="edible = !edible">Cancel</button>
          }
        </div>

        <div class="card-body">
          @if (!edible){
            <app-configuration-details
              [topic]="cfg?.[selectedTopic]"></app-configuration-details>
          } @else {
            <app-configuration-edit-form
            [topic]="cfg?.[selectedTopic]"></app-configuration-edit-form>

          }
        </div>
      </div>
    </div>
  </div>
</div>
