.attribute-input-ds2 {
    width: 200px;
    background-color: blanchedalmond;
}

.rule-dropdown-ds2 {
    border-radius: 1.5rem;
    background-color: var(--primary-color-60);
    color: var(--button-text-color-hover);
    border: none;
}

.handler-dropdown-ds2 {
    border-radius: 0.8rem;
    background-color: var(--secondary-background-color);
    color: black;
    font-size: .75rem;
    font-weight: bold;

    border: none;
}

.params-input-ds2 {
    font-size: 0.775em;
  color: var(--bs-code-color);
  word-wrap: break-word;
  font-family: var(--bs-font-monospace);
}




.delete-cross-button {
    width: 1.75rem;
    height: 1.75rem;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--error-color);
    color: var(--button-text-color);

    border: 2px solid rgb(200, 70, 70); /* slightly darker tone */
    border-radius: 50%;

    font-size: 0.85rem;
    font-weight: bold;

    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.15s ease;

    position: relative;
    top: 1rem;
    left: 1rem;
    z-index: 999; /* Ensure it stays above other elements */

}

.delete-cross-button:hover {
    background-color: rgba(234, 107, 102, 0.85);
    transform: scale(1.05);
}

.delete-cross-button:active {
    background-color: rgba(234, 107, 102, 0.75);
    transform: scale(0.95);
}


