/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Be Vietnam Pro', sans-serif;
}
:root {
  --primary-color: #128F8B;
  --primary-color-hover: #0C6361;
  --secondary-color: #24D4C6;
  --secondary-color-hover: #21C2B5;
  --primary-background-color: #FFFFFF;
  --secondary-background-color: #E0E0E0;
  --text-color: #000000;
  --seondary-text-color: #757575;
  --hint-text-color: #9b9b9b;
  --error-color: #EA6B66;
  --button-text-color: #FFFFFF;
  --border-color: #757575;
  --accent-color: #e8e7fa;
  --shadow-color: #E8E8E8;
}

button.primary {
  padding: 10px;
  border: solid 1px var(--primary-color);
  background: var(--primary-color);
  color: white;
  border-radius: 8px;
}
